rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	// Anyone can read store data
  	// Anyone can add a store as long as
    // they claim to be an owner in the payload
  	// Only store owner can update and delete their own stores
    match /stores/{store} {
      allow read: if true;
      allow create: if request.resource.data.owner_id == request.auth.uid;
      allow update: if resource.data.owner_id == request.auth.uid;
      
      // Anyone can read item data
      // Anyone can add an item as long as
      // they claim to be an owner in the payload
      // Only store owner and the person who added the item can 
      // update and delete the item
      match /items/{item} {
        allow read: if true;
        allow create: if request.resource.data.added_by == request.auth.uid;
        allow update: if resource.data.added_by == request.auth.uid
											|| get(/database/{database}/documents/stores/{store}).data.owner_id == request.auth.uid;
      }
    }
    
    
  }
}